node_modules
dist
.env
.DS_Store
apps/overlay/src/assets/videos/sample.mp4
apps/overlay/src/assets/sounds/sample.mp3
apps/overlay/src/assets/videos/sample.mkv
apps/overlay/src/assets/images/sample.jpg
apps/overlay/src/assets/images/sample.png

data/sqlite/*.db
data/sqlite/*.db-wal
data/sqlite/*.db-shm

data/logs/*.log