# PayPal App Credentials (aus dem PayPal Developer Dashboard)
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=

# Die Webhook ID, die du von PayPal nach dem Erstellen bekommst
PAYPAL_WEBHOOK_ID=

# URL zum Haupt-WebSocket-Server
WSS_SERVER_URL=ws://localhost:8080
